@charset "utf-8";
/* CSS Document */
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000;
}
body {
/*	background-repeat: repeat;
	background-color: #FFF;
	background-image: url(Images/Blue_Gradient.jpg);
*/
}
.RedFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #F00;
}
.Grey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #666;
}
.Green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #0C0;
}

.Yellow_Big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-style: normal;
	font-weight: normal;
	color: #FF0;
}
.Black_size14 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-weight: normal;
	color: #000;
}
.Black_Big_Title_Site {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000;
	text-decoration: underline;
}
.Blue_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: #03F;
	text-decoration: blink;
}
